@media only screen and (min-width: 2500px) {
  .container,
  #main-nav,
  #contact {
    max-width: 2000px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 3rem;
  }

  p {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 3800px) {
  .container,
  #main-nav,
  #contact {
    max-width: 2500px;
  }
}

/* 1200 */

@media (max-width: 1200px) {
  .hero h2 {
    font-size: 5rem;
    line-height: 1;
    margin: 1rem 0;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

/* 1120 */

@media (max-width: 1120px) {
  .section-margin {
    margin: 15vw auto 15vw auto;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  #main-nav {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
  }

  #main-nav ul li:last-child {
    padding-right: 0;
  }

  .social {
    display: none;
  }

  .btn-blue {
    margin-bottom: 5vw;
  }

  .grid .intro-right,
  .grid .intro-left {
    padding-right: 0;
    text-align: center;
  }

  p {
    font-weight: 300;
  }

  /* hero */

  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 2.7rem;
    width: 80%;
    margin-bottom: 3rem;
  }

  .hero h2 {
    width: 80%;
    line-height: 1.5;
    margin: 0 0 1rem 0;
  }

  .hero {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    background: #ecfafc;
    opacity: 0;
    transition: opacity 2s 0.25s ease-out;
  }

  .hero.is-visible {
    opacity: 1;
    border-radius: 5%;
    animation: borders 2s ease-in-out alternate 1 forwards;
  }

  @keyframes borders {
    50% {
      border-radius: 25%;
    }

    100% {
      border-radius: 50%;
    }
  }

  .hero .hero-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero .hero-img {
    display: none;
  }

  /* Projects */

  .projects .project-card.grid {
    grid-template-columns: 2fr 3fr;
  }

  .intro-left {
    padding-bottom: 0 0 3rem 0;
  }

  .intro-right {
    border: none;
    padding: 0;
  }

  .project-card {
    height: 250px;
  }

  .project-card .p-description {
    padding: 0 2rem 0 2rem;
  }

  .p-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .p-tech {
    padding-top: 1rem;
  }

  .p-tech p {
    margin-right: 0.3rem;
    font-size: 1rem;
  }

  .project-card .p-img img {
    height: 100%;
    object-fit: cover;
  }

  /* about me */

  .intro-left.row {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .intro-left.row .about-img {
    padding: 0 0 2rem 0;
  }

  /* contact*/

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    width: 90%;
    padding: 0 1rem;
  }

  .contact .contact-form {
    margin: 0;
    padding: 0;
  }

  .contact .intro-left h3 {
    width: 100%;
  }

  .contact .intro-left h2 {
    margin-bottom: 2rem;
  }

  .contact .social {
    display: inline-block;
  }

  .intro-right form {
    text-align: left;
  }

  .copyright {
    margin-top: 3vh;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .projects .project-card.grid {
    grid-template-columns: 1fr;
  }

  .intro-right {
    border: none;
    padding: 0;
  }

  .project-card {
    min-height: 500px;
  }

  .project-card .p-description {
    padding: 3rem 2rem 3rem 2rem;
  }

  .p-bottom {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 1rem;
  }

  .hero {
    width: 400px;
    height: 400px;
  }

  .intro {
    margin-bottom: 15vw;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  h2,
  .hero .hero-text h2 {
    font-size: 3rem;
    line-height: 1;
  }

  h3,
  .hero .hero-text h3 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1;
  }

  .container-nav {
    position: static;
  }

  #main-nav {
    padding: 1rem 0;
    text-align: center;
  }

  .nav-links ul li {
    display: block;
    font-size: 1.8rem;
    padding-right: 0;
    border-bottom: 1px dotted var(--main-color);
    margin-bottom: 2rem;
  }

  .nav-links ul li:hover a {
    border: none;
  }

  .nav-links ul li:first-child {
    display: none;
  }

  #home {
    height: 100%;
  }

  .hero {
    opacity: 0;
    margin: 5vw auto;
  }

  .hero.is-visible {
    background: #ecfafc;
    border-radius: 50%;
  }

  @keyframes borders {
    50% {
      border-radius: 50%;
    }

    100% {
      border-radius: 5%;
    }
  }

  .hero .btn {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  .project-card .p-tech {
    display: none;
  }

  .project-card .p-description {
    text-align: center;
  }

  .project-card .p-bottom {
    justify-content: center;
  }

  .p-seemore {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .hero {
    height: 350px;
    width: 100%;
  }

  #contact {
    padding: 0;
  }
}

@media (max-height: 420px) {
  #home {
    height: 50%;
  }

  .p-seemore {
    justify-content: center;
  }

  .p-img {
    display: none;
  }

  .hero .hero-text h2 {
    font-size: 5rem;
  }
}
